<div class="container">
  <br><br><br>
    <div class="accounts-history-container">
      <table id='accountsHistoryTable'>
          <tr>
            <th>#</th>
            <th>accountID</th>
            <th>iban</th>
            <th>country code</th>
            <th>bank code</th>
            <th>currency</th>
            <th>account status</th>
            <th>person</th>
            <th>status</th>
            <th>next status</th>
            <th>timestamp</th>
          </tr>
          <tr *ngFor="let item of accountsHistory; let i = index;">
            <td>{{i+1}}</td>
            <td>{{item.accountID}}</td>
            <td>{{item.iban}}</td>
            <td>{{item.countryCode}}</td>
            <td>{{item.bankCode}}</td>
            <td>{{item.currency}}</td>
            <td>{{item.accountStatus}}</td>
            <td>{{getPersonDetails(item.personID)}}</td>
            <td>{{item.status}}</td>
            <td>{{item.nextStatus}}</td>
            <td>{{item.timestamp | date: 'medium'}}</td>
          </tr>
        </table>
      <br>
      <!-- <button (click)="getAccountsHistory()">getAccountsHistory</button> -->
    </div>
  </div>
