<div class="container">
  <h3> Users History </h3>
  <div class="users-history-container">
    <table id='usersHistoryTable' border='1'>
        <tr>
            <th>#</th>
            <th>userID</th>
            <th>username</th>
            <th>email</th>
            <th>status</th>
            <th>next status</th>
            <th>timestamp</th>
        </tr>
        <tr *ngFor="let item of usersHistory; let i = index;">
          <td>{{i+1}}</td>
          <td>{{item.userID}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
          <td>{{item.status}}</td>
          <td>{{item.nextStatus}}</td>
          <td>{{item.timestamp}}</td>
        </tr>
      </table>
    <br>
    <button (click)="getUsersHistory()">getHistoryOfUsers</button>
  </div>
</div>