<div class="home-container">
    <!-- <h1>home</h1> -->
    <!-- <button (click)="logout()">logout</button> -->
    <div class="top-container">
        <div class="img-btn-container">
            <button (click)="goToUsersHomePage()">USERS</button>
            <!-- <img src = "../../assets/1 - REBUILD THE ECONOMY.svg" alt = "users home svg"/> -->
            <img src = "https://frontend-paymentsys.s3.eu-west-1.amazonaws.com/1+-+REBUILD+THE+ECONOMY.svg" alt = "users home svg"/>
        </div>
        <div class="img-btn-container">
            <button (click)="goToPersonsHomePage()">PERSONS</button>
            <!-- <img src = "../../assets/2 - INCOME INEQUALITY.svg" alt = "persons home svg"/> -->
            <img src = "https://frontend-paymentsys.s3.eu-west-1.amazonaws.com/2+-+INCOME+INEQUALITY.svg" alt = "persons home svg"/>
        </div>
        <div class="img-btn-container">
            <button (click)="goToAccountsHomePage()">ACCOUNTS</button>
            <!-- <img src = "../../assets/6 - FINANCES.svg" alt = "accounts home svg"/> -->
            <img src = "https://frontend-paymentsys.s3.eu-west-1.amazonaws.com/6+-+FINANCES.svg" alt = "accounts home svg"/>
        </div>
    </div>
    <div class="bottom-container">
        <div class="img-btn-container">
            <button (click)="goToBalancesHomePage()">BALANCES</button>
            <!-- <img src = "../../assets/7 - BANK DEAL.svg" alt = "balanes home svg"/> -->
            <img src = "https://frontend-paymentsys.s3.eu-west-1.amazonaws.com/7+-+BANK+DEAL.svg" alt = "balances home svg"/>
        </div>
        <div class="img-btn-container">
            <button (click)="goToTransactionsHomePage()">TRANSACTIONS</button>
            <!-- <img src = "../../assets/9 - ECONOMY ANALYSIS.svg" alt = "transactions home svg"/> -->
            <img src = "https://frontend-paymentsys.s3.eu-west-1.amazonaws.com/9+-+ECONOMY+ANALYSIS.svg" alt = "transactions home svg"/>
        </div>
        <div class="img-btn-container">
            <button (click)="goToAuditListPage()">AUDIT</button>
            <!-- <img src = "../../assets/10 - BIKE .svg" alt = "audit svg"/> -->
            <img src = "https://frontend-paymentsys.s3.eu-west-1.amazonaws.com/10+-+BIKE+.svg" alt = "audit svg"/>
        </div>
    </div>
</div>