<div class="container">
  <br><br><br>
  <div class="users-list-container">
    <span>{{errorMessage}}</span>
    <table id='usersTable'>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Email</th>
        <th>Status</th>
        <th>Next Status</th>
        <th *ngIf="role==='ADMIN_ROLE'" colspan="4">Actions</th>
    </tr>
    <tr *ngFor="let item of users; let i = index;">
      <td><a [routerLink]="['/audit-list',item.id,objectType]">{{i+1}}</a></td>
      <td>{{item.username}}</td>
      <td class="td-input"><input type="text" [(ngModel)]="users[i].email" #email="ngModel"></td>
      <td>{{item.status}}</td>
      <td>{{item.nextStatus}}</td>
      <td *ngIf="role==='ADMIN_ROLE'" class="td-button"><button class="updateButton" (click)="updateUser(item.id,item.username,email,item.password,item.status)"
        [disabled] = "item.status !== 'ACTIVE'">update</button></td>
      <td *ngIf="role==='ADMIN_ROLE'" class="td-button"><button class="deleteButton" (click)="deleteUser(item.id)"
        [disabled] = "item.status !== 'ACTIVE'">delete</button></td>
      <td *ngIf="role==='ADMIN_ROLE'" class="td-button"><button class="approveButton" (click)="approveUser(item.id)"
        [disabled] = "item.status !== 'APPROVE'">approve</button></td>
      <td *ngIf="role==='ADMIN_ROLE'" class="td-button"><button class="rejectButton" (click)="rejectUser(item.id)"
        [disabled] = "item.status !== 'APPROVE'">reject</button></td>
    </tr>
  </table>
  </div>
</div>
