<div class="container">
  <h3> Users </h3>
  <div class="users-list-container">
    <table id='usersTable'>
        <tr>
            <th>#</th>
            <th>username</th>
            <th>email</th>
            <th>status</th>
            <th>next status</th>
            <th colspan="4">Actions</th>
        </tr>
        <tr *ngFor="let item of users; let i = index;">
          <td><a [routerLink]="['/audit-list',item.id,objectType]">{{i+1}}</a></td>
          <td>{{item.username}}</td>
          <td class="td-input"><input type="text" [(ngModel)]="users[i].email" #email="ngModel"></td>
          <td>{{item.status}}</td>
          <td>{{item.nextStatus}}</td>
          <td class="td-button"><button class="updateButton" (click)="updateUser(item.id,item.username,email,item.password,item.status)"
            [disabled] = "item.status !== 'ACTIVE'">update</button></td>
          <td class="td-button"><button class="deleteButton" (click)="deleteUser(item.id)"
            [disabled] = "item.status !== 'ACTIVE'">delete</button></td>
          <td class="td-button"><button class="approveButton" (click)="approveUser(item.id)"
            [disabled] = "item.status !== 'APPROVE'">approve</button></td>
          <td class="td-button"><button class="rejectButton" (click)="rejectUser(item.id)"
            [disabled] = "item.status !== 'APPROVE'">reject</button></td>
        </tr>
      </table>
    <br>
    <button (click)="getUsers()">getUsers</button>
  </div>
</div>