<div class="container">
    <div class="top-bar-container">
        <button (click)="viewAnalyticsBoard()">DASHBOARD</button>
        <button (click)="viewBasicResults()">BASICS</button>
        <button (click)="viewSamplingResults()">SAMPLING</button>
        <button (click)="viewTuningResults()">TUNING</button>
    </div>
    <app-analytics-table-results *ngIf="show==='basicTable'" [type]="'BASICS'"
    [csvFilePath]="'../../assets/basics_means.csv'"></app-analytics-table-results>
    <app-analytics-table-results *ngIf="show==='samplingTable'" [type]="'SAMPLING'"
    [csvFilePath]="'../../assets/basics_and_sampling.csv'"></app-analytics-table-results>
    <app-analytics-table-results *ngIf="show==='tuningTable'" [type]="'TUNING'"
    [csvFilePath]="'../../assets/tuning_xgb_smote_enn.csv'"></app-analytics-table-results>

    <div class="analytics-body-container">
        <div class="classifier-container" *ngIf="show==='analyticsBoard'">
            <button class="overall-classifier-card classifier-card" (click)="onSelectClassifier('OVERALL')" [ngClass]="{'selected': selectedClassifier === 'OVERALL'}">
            <h2>Best Overall Classifier</h2>
            <p>A classifier that balances precision, recall, accuracy and speed.</p>
            </button>
            <button class="recall-classifier-card classifier-card" (click)="onSelectClassifier('FAST')" [ngClass]="{'selected': selectedClassifier === 'FAST'}">
            <h2>Fastest Classifier</h2>
            <p>A classifier that prioritizes speed over other metrics.</p>
            </button>
            <button class="fastest-classifier-card classifier-card" (click)="onSelectClassifier('RECALL')" [ngClass]="{'selected': selectedClassifier === 'RECALL'}">
            <h2>Best Recall Classifier</h2>
            <p>A classifier that has the best recall to catch possible frauds, but with a risk of incorrectly flagging genuine transactions.</p>
            </button>
        </div>

        <div class="performance-container" *ngIf="show==='analyticsBoard'">
            <ngx-charts-line-chart
                [results]="data"
                [view]="view"
                [xAxis]="true"
                [yAxis]="true"
                [showGridLines]="true"
                [showDataPoints]="true"
                [autoScale]="true"
                [showLegend]="true"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [customColors]="colorScheme">
            </ngx-charts-line-chart>
        </div>
    </div>

</div>
  