<div class="add-account-container">
    <form #myForm="ngForm" class="add-account-form" (ngSubmit) = "onSubmit();  myForm.resetForm()" [formGroup]="addAccountForm">
        <!-- <label for="iban">Iban</label>
        <input type="text" id="iban" formControlName="iban">
        <span *ngIf="iban && iban.invalid && iban.touched">Iban is invalid</span> -->
        <label for="countryCode">Country Code</label>
        <input type="text" id="countryCode" formControlName="countryCode">
        <span *ngIf="countryCode && countryCode.invalid && countryCode.touched">Country code is invalid</span>
        <label for="bankCode">Bank Code</label>
        <input type="text" id="bankCode" formControlName="bankCode">
        <span *ngIf="bankCode && bankCode.invalid && bankCode.touched">Bank code is invalid</span>
        <label for="currency">Currency</label>
        <input type="text" id="currency" formControlName="currency">
        <label for="accountStatus">Account Status</label>
        <input type="text" id="accountStatus" formControlName="accountStatus">
        <label for="person">Choose Person</label>
        <select formControlName="person">
            <option></option>
            <option *ngFor="let itemPerson of persons">{{itemPerson.firstName}} {{itemPerson.lastName}} {{itemPerson.phoneNumber}}</option>
        </select>
        <button class="add-button" type="submit" [disabled]="addAccountForm.invalid">ADD</button>
    </form>
</div>
