<div id="container-accounts" *ngIf="!doTransaction">
    <h3> Accounts </h3>
    <div class="accounts-list-container">
      <table id='accountsTable'>
          <tr>
              <th>#</th>
              <th>iban</th>
              <th>country code</th>
              <th>bank code</th>
              <th>currency</th>
              <th>account status</th>
              <th>person</th>
              <th>status</th>
              <th>next status</th>
              <th colspan="6">Actions</th>
          </tr>
          <tr *ngFor="let item of accounts; let i = index;">
            <td>{{i+1}}</td>
            <td>{{item.iban}}</td>
            <td class="td-input"><input type="text" [(ngModel)]="accounts[i].countryCode" #countryCode="ngModel"></td>
            <td class="td-input"><input type="text" [(ngModel)]="accounts[i].bankCode" #bankCode="ngModel"></td>
            <td class="td-input"><input type="text" [(ngModel)]="accounts[i].currency" #currency="ngModel"></td>
            <td class="td-input"><input type="text" [(ngModel)]="accounts[i].accountStatus" #accountStatus="ngModel"></td>
            <td>{{getPersonDetails(item.personID)}}</td>
            <td>{{item.status}}</td>
            <td>{{item.nextStatus}}</td>
            <td class="td-button"><button class="updateButton" (click)="updateAccount(item.id,item.iban,countryCode,bankCode,currency,accountStatus,item.personID,item.status)"
              [disabled] = "item.status !== 'ACTIVE'">update</button></td>
            <td class="td-button"><button class="deleteButton" (click)="deleteAccount(item.id)"
              [disabled] = "item.status !== 'ACTIVE'">delete</button></td>  
            <td class="td-button"><button class="approveButton" (click)="approveAccount(item.id)"
              [disabled] = "item.status !== 'APPROVE'">approve</button></td>
            <td class="td-button"><button class="rejectButton" (click)="rejectAccount(item.id)"
              [disabled] = "item.status !== 'APPROVE'">reject</button></td>
            <td class="td-button"><button class="balanceButton" (click)="selectAccount(item.id); openPopup()"
              [disabled] = "item.status === 'DELETE'">details</button></td>
            <td class="td-button"><button class="transactionButton" (click)="selectAccount(item.id); createTransaction()"
              [disabled] = "item.accountStatus === 'CLOSED' && item.status === 'ACTIVE' || item.status !== 'ACTIVE'">transaction</button></td>
          </tr>
        </table>
      <br>
      <button (click)="getAccounts()">getAccounts</button>
    </div>
  </div>
<div class="account-details-container" *ngIf="showDetails">
  <div class="flex-container">
    <app-current-balance [accountId]="selectedAccountId" class="balance-container"></app-current-balance>
    <app-balance-history [accountId]="selectedAccountId"></app-balance-history>
  </div>
  <button class="closeButton" (click)="closePopup()">close</button>
</div>
<app-transactions-account [accountId]="selectedAccountId" *ngIf="doTransaction"></app-transactions-account>