<div id="container-accounts">
    <h3> Accounts </h3>
    <div class="accounts-list-container">
      <table id='accountsTable'>
          <tr>
              <th>#</th>
              <th>iban</th>
              <th>country code</th>
              <th>bank code</th>
              <th>currency</th>
              <th>account status</th>
              <th>person id</th>
              <th>status</th>
              <th colspan="3">Actions</th>
          </tr>
          <tr *ngFor="let item of accounts; let i = index;">
            <td>{{i+1}}</td>
            <td class="td-input"><input type="text" [(ngModel)]="accounts[i].iban" #iban="ngModel"></td>
            <td class="td-input"><input type="text" [(ngModel)]="accounts[i].countryCode" #countryCode="ngModel"></td>
            <td class="td-input"><input type="text" [(ngModel)]="accounts[i].bankCode" #bankCode="ngModel"></td>
            <td class="td-input"><input type="text" [(ngModel)]="accounts[i].currency" #currency="ngModel"></td>
            <td class="td-input"><input type="text" [(ngModel)]="accounts[i].accountStatus" #accountStatus="ngModel"></td>
            <td>{{item.personID}}</td>
            <td>{{item.status}}</td>
            <td class="td-button"><button class="updateButton" (click)="updateAccount(item.id,iban,countryCode,bankCode,currency,accountStatus,item.personID,item.status)">update</button></td>
            <td class="td-button"><button class="approveButton" (click)="approveAccount(item.id)">approve</button></td>
            <td class="td-button"><button class="balanceButton" (click)="selectAccount(item.id)">details</button></td>
          </tr>
        </table>
      <br>
      <button (click)="getAccounts()">getAccounts</button>
    </div>
  </div>
<div class="account-details-container" *ngIf="showDetails">
  <div class="flex-container">
    <app-current-balance [accountId]="selectedAccountId" class="balance-container"></app-current-balance>
    <app-balance-history [accountId]="selectedAccountId"></app-balance-history>
  </div>
  <button class="closeButton" (click)="closePopup()">close</button>
</div>
