<div class="login-container">
    <form class="login-form" (ngSubmit) = "onSubmit()">
        <div class="label-input-container">
            <label>Username</label>
            <input type="text" id="Username" [(ngModel)]="userCreds.username" name="Username">
        </div>
        <div class="label-input-container">
            <label>Password</label>
            <input type="password" id="Password" [(ngModel)]="userCreds.password" name="Password">
        </div>
        <button class="login-button" type="submit">login</button>
    </form>
</div>