<div class="container">
    <h3> Audit </h3>
    <div class="audit-list-container">
      <table id='auditTable'>
          <tr>
              <th>id</th>
              <th>object id</th>
              <th>object type</th>
              <th>operation</th>
              <th>user id</th>
              <th>timestamp</th>
          </tr>
          <tr *ngFor="let item of audit; let i = index;">
            <td>{{item.id}}</td>
            <td>{{item.objectID}}</td>
            <td>{{item.objectType}}</td>
            <td>{{item.operation}}</td>
            <td>{{item.userID}}</td>
            <td>{{item.timestamp | date: 'medium'}}</td>
          </tr>
        </table>
      <br>
      <button (click)="getAudit()">getAudit</button>
    </div>
  </div>