<div class="container">
    <br><br><br>
    <div class="persons-history-container">
      <table id='personsHistoryTable'>
          <tr>
              <th>#</th>
              <!-- <th>personID</th> -->
              <th>first name</th>
              <th>last name</th>
              <th>address</th>
              <th>date of birth</th>
              <th>phone number</th>
              <th>username</th>
              <th>status</th>
              <th>next status</th>
              <th>timestamp</th>
          </tr>
          <tr *ngFor="let item of personsHistory; let i = index;">
            <td>{{i+1}}</td>
            <!-- <td>{{item.personID}}</td> -->
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.address}}</td>
            <td>{{item.dateOfBirth | date}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{getUsername(item.userID)}}</td>
            <td>{{item.status}}</td>
            <td>{{item.nextStatus}}</td>
            <td>{{item.timestamp | date: 'medium'}}</td>
          </tr>
        </table>
      <br>
      <!-- <button (click)="getPersonsHistory()">getPersonsHistory</button> -->
    </div>
  </div>
