<div class="container">
    <br><br><br>
    <div class="balances-list-container">
      <table id='balancesTable'>
          <tr>
              <th>#</th>
              <th>account iban</th>
              <th>available</th>
              <th>total</th>
              <th>timestamp</th>
          </tr>
          <tr *ngFor="let item of balances; let i = index;">
            <td>{{i+1}}</td>
            <td>{{getIbanAccount(item.accountID)}}</td>
            <td>{{item.available}}</td>
            <td>{{item.total}}</td>
            <td>{{item.timestamp | date: 'medium'}}</td>
          </tr>
        </table>
      <br>
      <!-- <button (click)="getBalances()">getBalances</button> -->
    </div>
  </div>