
<div *ngIf="object && objStateDto.type === 'USER'" class="details-container">
  <div class="details-div">
      <p> <label for="username">Username</label> {{object.username}}</p>
      <p> <label for="email">Email</label> {{object.email}}</p>
      <p> <label for="status">Status</label> {{object.status}}</p>
      <p> <label for="nextStatus">Next status</label> {{object.nextStatus}}</p>
      <p> <label for="timestamp">Timestamp</label> {{objStateDto.timestamp | date:'medium'}}</p>
  </div>
</div>

<div *ngIf="object && objStateDto.type === 'PERSON'" class="details-container">
  <div class="details-div">
      <p> <label for="firstName">First name</label> {{object.firstName}}</p>
      <p> <label for="lastName">Last name</label> {{object.lastName}}</p>
      <p> <label for="address">Address</label> {{object.address}}</p>
      <p> <label for="dateOfBirth">Date of birth</label> {{object.dateOfBirth | date}}</p>
      <p> <label for="phoneNumber">Phone number</label> {{object.phoneNumber}}</p>
      <p> <label for="userID">User id</label> {{object.userID}}</p>
      <p> <label for="status">Status</label> {{object.status}}</p>
      <p> <label for="nextStatus">Next status</label> {{object.nextStatus}}</p>
      <p> <label for="timestamp">Timestamp</label> {{objStateDto.timestamp | date:'medium'}}</p>
  </div>
</div>

<div *ngIf="object && objStateDto.type === 'ACCOUNT'" class="details-container">
  <div class="details-div">
      <p> <label for="iban">Iban</label> {{object.iban}}</p>
      <p> <label for="countryCode">Country code</label> {{object.countryCode}}</p>
      <p> <label for="bankCode">Bank code</label> {{object.bankCode}}</p>
      <p> <label for="currency">Currency</label> {{object.currency}}</p>
      <p> <label for="accountStatus">Account status</label> {{object.accountStatus}}</p> 
      <p> <label for="personID">Person id</label> {{object.personID}}</p>
      <p> <label for="status">Status</label> {{object.status}}</p>
      <p> <label for="nextStatus">Next status</label> {{object.nextStatus}}</p>
      <p> <label for="timestamp">Timestamp</label> {{objStateDto.timestamp | date:'medium'}}</p>
  </div>
</div>