<div class="container" id="detailsPopup">
    <div class="account-details">
        <label>Balance Details</label>
        <p>Iban: {{account.iban}}</p>
        <p>Country code: {{account.countryCode}}</p>
        <p>Bank code: {{account.bankCode}}</p>
        <p>Currency: {{account.currency}}</p>
        <p>Person: {{getPersonDetails(account.personID)}}</p>
        <p>Total: {{currentBalance.total}}</p>
        <p>Available: {{currentBalance.available}}</p>
        <p>Timestamp: {{currentBalance.timestamp | date: 'medium'}}</p>
        <p></p>
    </div>
</div>