<div class="transaction-container">
    <!-- <span class="top-span">{{errorMessage}}</span> -->
    <form #myForm="ngForm" class="transaction-form" (ngSubmit) = "onSubmit();  myForm.resetForm()" [formGroup]="transactionForm">
        <label for="iban">Iban of Selected Account</label>
        <input type="text" id="iban" formControlName="iban">
        <label for="amount">Enter Amount</label>
        <input type="text" id="amount" formControlName="amount">
        <span *ngIf="amount && amount.invalid && amount.touched">Amount is invalid</span>
        <fieldset [disabled]="this.transactionForm.value.amount < 1000">
            <label for="reenteredAmount">Reenter Amount</label>
            <input type="text" id="reenteredAmount" formControlName="reenteredAmount">
            <span *ngIf="reenteredAmount && reenteredAmount.invalid && reenteredAmount.touched">Amount is invalid</span>
        </fieldset>
        <label for="type">Choose Type</label>
        <select formControlName="type">
            <option></option>
            <option *ngFor="let itemType of types">{{itemType}}</option>
        </select>
        <label for="type">Choose Action</label>
        <select formControlName="action">
            <option></option>
            <option *ngFor="let itemAction of actions">{{itemAction}}</option>
        </select>
        <label for="targetAccount">Target Account</label>
        <select *ngIf="this.transactionForm.value.action === 'TRANSFER' && this.transactionForm.value.type === 'INTERNAL'" 
        [disabled]="this.transactionForm.value.action !== 'TRANSFER'" formControlName="targetAccount">
            <option></option>
            <option *ngFor="let itemTargetAccount of targetAccounts">{{itemTargetAccount.iban}}</option>
        </select>
        <fieldset [disabled]="this.transactionForm.value.action !== 'TRANSFER'"
        *ngIf="this.transactionForm.value.type === 'EXTERNAL' || this.transactionForm.value.action !== 'TRANSFER'">
            <input type="text" id="targetAccount" formControlName="targetAccount"> 
            <span *ngIf="targetAccount && targetAccount.invalid && targetAccount.touched">Iban is invalid</span>
        </fieldset>
        <label for="bankName">Bank Name</label>
        <fieldset [disabled]="this.transactionForm.value.action !== 'TRANSFER' || this.transactionForm.value.type === 'INTERNAL'">
            <select class = "externalBank" formControlName="bankName">
                <option></option>
                <option *ngFor="let itemBank of externalBanks">{{itemBank}}</option>
            </select>
        </fieldset>
        <label for="targetAccount">Receiver Name</label>
        <fieldset [disabled]="this.transactionForm.value.action !== 'TRANSFER' || this.transactionForm.value.type === 'INTERNAL'">
            <input type="text" id="nameReceiver" formControlName="nameReceiver">
            <span *ngIf="nameReceiver && nameReceiver.invalid && nameReceiver.touched">Receiver Name is invalid</span>
        </fieldset>
        <button class="submit-button" type="submit" [disabled]="transactionForm.invalid">Submit</button>
    </form>
</div> 