.container{
    height: 100%;
    width: 100%;
    margin: 0;

    .top-button{
        font-size: 16px;
        width: 30%;
        height: 40px;

        align-self: center;
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 20px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        display: table;
        margin: 0 auto;
        margin-bottom: 30px; 
      }
      
      .top-button:after {
        content: "";
        background-color: #ffe54c;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
      }
      
      .top-button:hover:after {
        top: 0px;
        left: 0px;
      }
    
    .transactions-list-container{
        display: flex;
        flex-direction: column;

        span{
            color: #ff0000;
            align-self: center;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
        }

        #transactionsTable{
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            padding: 10px;
            
            td, th{
                border: 1px solid #ddd;
                padding: 8px;
            }

            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #009681;
                color: #ffff;
            }

            tr:nth-child(odd){
                background-color: #f2f2f2;
                
                input{
                    background-color: #f2f2f2;
                }
            }

            tr:hover {
                background-color: #b2d9c3; //#ddd;

                input{
                    background-color: #b2d9c3; //#ddd;
                }
            }

            input{
                border: none;
            }

            input:focus{
                border: 1px solid  #de5800;
                box-shadow: 0 0 3px  #de5800;
                outline: none;
            }

            input, button{
                margin: 0;
                padding: 0;
                height: 30px;
                width: 100%;
            }

            .td-input, .td-button{
                padding: 1px;
                margin: 0;
            }

        }
    }
}