<div class="container">
  <br>
  <div class="filter-buttons-div">
    <div class="drop-down">
      <button class="filter-button" (click)="filterByIban()">Choose Iban</button>
      <select  [(ngModel)]="selectedIban">
          <option></option>
          <option *ngFor="let itemAccount of accounts">{{itemAccount.iban}}</option>
      </select>
    </div>
    <button *ngIf="role === 'ADMIN_ROLE'" class="my-transactions-button" (click)="getApproveTransactions()">Approve</button>
    <button *ngIf="role === 'ADMIN_ROLE'" class="my-transactions-button" (click)="getAuthorizeTransactions()">Authorize</button>
    <button *ngIf="role === 'ADMIN_ROLE'" class="my-transactions-button" (click)="getActiveTransactions()">Active</button>
    <button *ngIf="role === 'ADMIN_ROLE'" class="my-transactions-button" (click)="getDeletedTransactions()">Delete</button>
  </div>
  <br>
  <div class="transactions-list-container">
    <span>{{errorMessage}}</span>
    <table id='transactionsTable'>
        <tr>
            <th>#</th>
            <th>Account Iban</th>
            <th>Target Iban</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Action</th>
            <th>Status</th>
            <th>Next Status</th>
            <th *ngIf="role === 'ADMIN_ROLE'" colspan="2">Actions</th>
        </tr>
        <tr *ngFor="let item of transactions; let i = index;">
          <td><a [routerLink]="['/audit-list',item.id,objectType]">{{i+1}}</a></td>
          <td>{{getIbanAccount(item.accountID)}}</td>
          <!-- <td>{{getIbanAccount(item.targetAccountID)}}</td> -->
          <td>{{item.targetIban}}</td>
          <td>{{item.type}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.action}}</td>
          <td>{{item.status}}</td>
          <td>{{item.nextStatus}}</td>
          <td *ngIf="role === 'ADMIN_ROLE'" class="td-button"><button class="approveButton" (click)="approveTransaction(item.id)"
            [disabled] = "item.status !== 'APPROVE'">approve</button></td>
          <td *ngIf="role === 'ADMIN_ROLE'" class="td-button"><button class="rejectButton" (click)="rejectTransaction(item.id)"
            [disabled] = "item.status !== 'APPROVE'">reject</button></td>
        </tr>
      </table>
    <br>
    <!-- <button (click)="getTransactions()">getTransactions</button> -->
  </div>
  </div>