<div class="container">
    <h3> Transactions </h3>
    <div class="transactions-list-container">
      <table id='transactionsTable'>
          <tr>
              <th>#</th>
              <th>account iban</th>
              <th>target iban</th>
              <th>type</th>
              <th>amount</th>
              <th>action</th>
              <th>status</th>
              <th>next status</th>
              <th>timestamp</th>
              <th colspan="2">Actions</th>
          </tr>
          <tr *ngFor="let item of transactions; let i = index;">
            <td>{{i+1}}</td>
            <td>{{getIbanAccount(item.accountID)}}</td>
            <td>{{getIbanAccount(item.targetAccountID)}}</td>
            <td>{{item.type}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.action}}</td>
            <td>{{item.status}}</td>
            <td>{{item.nextStatus}}</td>
            <td>{{item.timestamp}}</td>
            <td class="td-button"><button class="approveButton" (click)="approveTransaction(item.id)"
              [disabled] = "item.status !== 'APPROVE'">approve</button></td>
            <td class="td-button"><button class="rejectButton" (click)="rejectTransaction(item.id)"
              [disabled] = "item.status !== 'APPROVE'">reject</button></td>
          </tr>
        </table>
      <br>
      <button (click)="getTransactions()">getTransactions</button>
    </div>
  </div>